AccordionHeader
{
	disabledSkin: Embed(source="assets/AccordionHeader_disabledSkin.png");
	downSkin: Embed(source="assets/AccordionHeader_downSkin.png");
	overSkin: Embed(source="assets/AccordionHeader_overSkin.png");
	selectedSkin: Embed(source="assets/AccordionHeader_selectedSkin.png");
	upSkin: Embed(source="assets/AccordionHeader_upSkin.png");
}
Button
{
	disabledSkin: Embed(source="assets/Button_disabledSkin.png",scaleGridLeft="4",scaleGridTop="3",scaleGridRight="60",scaleGridBottom="17");
	downSkin: Embed(source="assets/Button_downSkin.png",scaleGridLeft="4",scaleGridTop="3",scaleGridRight="60",scaleGridBottom="17");
	overSkin: Embed(source="assets/Button_overSkin.png",scaleGridLeft="4",scaleGridTop="3",scaleGridRight="60",scaleGridBottom="17");
	upSkin: Embed(source="assets/Button_upSkin.png",scaleGridLeft="4",scaleGridTop="3",scaleGridRight="60",scaleGridBottom="17");
}
ButtonBar
{
	buttonStyleName: "buttonBarButton";
	firstButtonStyleName: "buttonBarFirstButton";
	lastButtonStyleName: "buttonBarLastButton";
}
.buttonBarButton
{
	disabledSkin: Embed(source="assets/ButtonBar-button_disabledSkin.png");
	downSkin: Embed(source="assets/ButtonBar-button_downSkin.png");
	overSkin: Embed(source="assets/ButtonBar-button_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/ButtonBar-button_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/ButtonBar-button_selectedUpSkin.png");
	upSkin: Embed(source="assets/ButtonBar-button_upSkin.png");
}
.buttonBarFirstButton
{
	disabledSkin: Embed(source="assets/ButtonBar-firstButton_disabledSkin.png");
	downSkin: Embed(source="assets/ButtonBar-firstButton_downSkin.png");
	overSkin: Embed(source="assets/ButtonBar-firstButton_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/ButtonBar-firstButton_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/ButtonBar-firstButton_selectedUpSkin.png");
	upSkin: Embed(source="assets/ButtonBar-firstButton_upSkin.png");
}
.buttonBarLastButton
{
	disabledSkin: Embed(source="assets/ButtonBar-lastButton_disabledSkin.png");
	downSkin: Embed(source="assets/ButtonBar-lastButton_downSkin.png");
	overSkin: Embed(source="assets/ButtonBar-lastButton_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/ButtonBar-lastButton_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/ButtonBar-lastButton_selectedUpSkin.png");
	upSkin: Embed(source="assets/ButtonBar-lastButton_upSkin.png");
}
CheckBox
{
	disabledIcon: Embed(source="assets/CheckBox_disabledIcon.png");
	downIcon: Embed(source="assets/CheckBox_downIcon.png");
	overIcon: Embed(source="assets/CheckBox_overIcon.png");
	selectedDisabledIcon: Embed(source="assets/CheckBox_selectedDisabledIcon.png");
	selectedDownIcon: Embed(source="assets/CheckBox_selectedDownIcon.png");
	selectedOverIcon: Embed(source="assets/CheckBox_selectedOverIcon.png");
	selectedUpIcon: Embed(source="assets/CheckBox_selectedUpIcon.png");
	upIcon: Embed(source="assets/CheckBox_upIcon.png");
}
ColorPicker
{
	disabledSkin: Embed(source="assets/ColorPicker_disabledSkin.png");
	downSkin: Embed(source="assets/ColorPicker_downSkin.png");
	overSkin: Embed(source="assets/ColorPicker_overSkin.png");
	upSkin: Embed(source="assets/ColorPicker_upSkin.png");
}
DataGrid
{
	borderSkin: Embed(source="assets/DataGrid_borderSkin.png");
	columnDropIndicatorSkin: Embed(source="assets/DataGrid_columnDropIndicatorSkin.png");
	columnResizeSkin: Embed(source="assets/DataGrid_columnResizeSkin.png");
	headerBackgroundSkin: Embed(source="assets/DataGrid_headerBackgroundSkin.png");
	headerSeparatorSkin: Embed(source="assets/DataGrid_headerSeparatorSkin.png");
	sortArrowSkin: Embed(source="assets/DataGrid_sortArrowSkin.png");
	stretchCursor: Embed(source="assets/DataGrid_stretchCursor.png");
}
DateChooser
{
	nextMonthDisabledSkin: Embed(source="assets/DateChooser_nextMonthDisabledSkin.png");
	nextMonthDownSkin: Embed(source="assets/DateChooser_nextMonthDownSkin.png");
	nextMonthOverSkin: Embed(source="assets/DateChooser_nextMonthOverSkin.png");
	nextMonthUpSkin: Embed(source="assets/DateChooser_nextMonthUpSkin.png");
	nextYearDisabledSkin: Embed(source="assets/DateChooser_nextYearDisabledSkin.png");
	nextYearDownSkin: Embed(source="assets/DateChooser_nextYearDownSkin.png");
	nextYearOverSkin: Embed(source="assets/DateChooser_nextYearOverSkin.png");
	nextYearUpSkin: Embed(source="assets/DateChooser_nextYearUpSkin.png");
	prevMonthDisabledSkin: Embed(source="assets/DateChooser_prevMonthDisabledSkin.png");
	prevMonthDownSkin: Embed(source="assets/DateChooser_prevMonthDownSkin.png");
	prevMonthOverSkin: Embed(source="assets/DateChooser_prevMonthOverSkin.png");
	prevMonthUpSkin: Embed(source="assets/DateChooser_prevMonthUpSkin.png");
	prevYearDisabledSkin: Embed(source="assets/DateChooser_prevYearDisabledSkin.png");
	prevYearDownSkin: Embed(source="assets/DateChooser_prevYearDownSkin.png");
	prevYearOverSkin: Embed(source="assets/DateChooser_prevYearOverSkin.png");
	prevYearUpSkin: Embed(source="assets/DateChooser_prevYearUpSkin.png");
	rollOverIndicatorSkin: Embed(source="assets/DateChooser_rollOverIndicatorSkin.png");
	selectionIndicatorSkin: Embed(source="assets/DateChooser_selectionIndicatorSkin.png");
	todayIndicatorSkin: Embed(source="assets/DateChooser_todayIndicatorSkin.png");
}
DateField
{
	disabledSkin: Embed(source="assets/DateField_disabledSkin.png");
	downSkin: Embed(source="assets/DateField_downSkin.png");
	overSkin: Embed(source="assets/DateField_overSkin.png");
	upSkin: Embed(source="assets/DateField_upSkin.png");
}
DividedBox
{
	dividerSkin: Embed(source="assets/DividedBox_dividerSkin.png");
	horizontalCursor: Embed(source="assets/DividedBox_horizontalCursor.png");
	verticalCursor: Embed(source="assets/DividedBox_verticalCursor.png");
}
DragManager
{
	copyCursor: Embed(source="assets/DragManager_copyCursor.png");
	defaultDragImageSkin: Embed(source="assets/DragManager_defaultDragImageSkin.png");
	linkCursor: Embed(source="assets/DragManager_linkCursor.png");
	moveCursor: Embed(source="assets/DragManager_moveCursor.png");
	rejectCursor: Embed(source="assets/DragManager_rejectCursor.png");
}
FormItem
{
	indicatorSkin: Embed(source="assets/FormItem_indicatorSkin.png");
}
HScrollBar
{
	downArrowDisabledSkin: Embed(source="assets/HScrollBar_downArrowDisabledSkin.png");
	downArrowDownSkin: Embed(source="assets/HScrollBar_downArrowDownSkin.png");
	downArrowOverSkin: Embed(source="assets/HScrollBar_downArrowOverSkin.png");
	downArrowUpSkin: Embed(source="assets/HScrollBar_downArrowUpSkin.png");
	thumbDownSkin: Embed(source="assets/HScrollBar_thumbDownSkin.png",scaleGridTop="3",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="49");
	thumbIcon: Embed(source="assets/HScrollBar_thumbIcon.png");
	thumbOverSkin: Embed(source="assets/HScrollBar_thumbOverSkin.png",scaleGridTop="3",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="49");
	thumbUpSkin: Embed(source="assets/HScrollBar_thumbUpSkin.png",scaleGridTop="3",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="49");
	trackDisabledSkin: Embed(source="assets/HScrollBar_trackDisabledSkin.png");
	trackSkin: Embed(source="assets/HScrollBar_trackSkin.png",scaleGridTop="3",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="145");
	upArrowDisabledSkin: Embed(source="assets/HScrollBar_upArrowDisabledSkin.png");
	upArrowDownSkin: Embed(source="assets/HScrollBar_upArrowDownSkin.png");
	upArrowOverSkin: Embed(source="assets/HScrollBar_upArrowOverSkin.png");
	upArrowUpSkin: Embed(source="assets/HScrollBar_upArrowUpSkin.png");
}
LinkButton
{
	disabledSkin: Embed(source="assets/LinkButton_disabledSkin.png");
	downSkin: Embed(source="assets/LinkButton_downSkin.png");
	overSkin: Embed(source="assets/LinkButton_overSkin.png");
	upSkin: Embed(source="assets/LinkButton_upSkin.png");
}
List
{
	borderSkin: Embed(source="assets/List_borderSkin.png");
}
Menu
{
	branchDisabledIcon: Embed(source="assets/Menu_branchDisabledIcon.png");
	branchIcon: Embed(source="assets/Menu_branchIcon.png");
	checkDisabledIcon: Embed(source="assets/Menu_checkDisabledIcon.png");
	checkIcon: Embed(source="assets/Menu_checkIcon.png");
	radioDisabledIcon: Embed(source="assets/Menu_radioDisabledIcon.png");
	radioIcon: Embed(source="assets/Menu_radioIcon.png");
	separatorSkin: Embed(source="assets/Menu_separatorSkin.png");
}
MenuBar
{
	backgroundSkin: Embed(source="assets/MenuBar_backgroundSkin.png");
	itemDownSkin: Embed(source="assets/MenuBar_itemDownSkin.png");
	itemOverSkin: Embed(source="assets/MenuBar_itemOverSkin.png");
	itemUpSkin: Embed(source="assets/MenuBar_itemUpSkin.png");
}
NumericStepper
{
	upArrowDisabledSkin: Embed(source="assets/NumericStepper_upArrowDisabledSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="8",scaleGridBottom="9");
	upArrowDownSkin: Embed(source="assets/NumericStepper_upArrowDownSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="8",scaleGridBottom="9");
	upArrowOverSkin: Embed(source="assets/NumericStepper_upArrowOverSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="8",scaleGridBottom="9");
	upArrowUpSkin: Embed(source="assets/NumericStepper_upArrowUpSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="8",scaleGridBottom="9");
	downArrowDisabledSkin: Embed(source="assets/NumericStepper_downArrowDisabledSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="2");
	downArrowDownSkin: Embed(source="assets/NumericStepper_downArrowDownSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="2");
	downArrowOverSkin: Embed(source="assets/NumericStepper_downArrowOverSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="2");
	downArrowUpSkin: Embed(source="assets/NumericStepper_downArrowUpSkin.png",scaleGridRight="16",scaleGridLeft="1",scaleGridTop="1",scaleGridBottom="2");
}
Panel
{
	borderSkin: Embed(source="assets/Panel_borderSkin.png",scaleGridLeft="4",scaleGridTop="31",scaleGridRight="268",scaleGridBottom="188");
	closeButtonDisabledSkin: Embed(source="assets/Panel_closeButtonDisabledSkin.png");
	closeButtonDownSkin: Embed(source="assets/Panel_closeButtonDownSkin.png");
	closeButtonOverSkin: Embed(source="assets/Panel_closeButtonOverSkin.png");
	closeButtonUpSkin: Embed(source="assets/Panel_closeButtonUpSkin.png");
	controlBarBackgroundSkin: Embed(source="assets/Panel_controlBarBackgroundSkin.png");
}
PopUpButton
{
	disabledSkin: Embed(source="assets/PopUpButton_disabledSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="80",scaleGridBottom="20");
	downSkin: Embed(source="assets/PopUpButton_downSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="80",scaleGridBottom="20");
	overSkin: Embed(source="assets/PopUpButton_overSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="80",scaleGridBottom="20");
	popUpDownSkin: Embed(source="assets/PopUpButton_popUpDownSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="80",scaleGridBottom="20");
	popUpOverSkin: Embed(source="assets/PopUpButton_popUpOverSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="80",scaleGridBottom="20");
	upSkin: Embed(source="assets/PopUpButton_upSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="80",scaleGridBottom="20");
}
ProgressBar
{
	barSkin: Embed(source="assets/ProgressBar_barSkin.png");
	indeterminateSkin: Embed(source="assets/ProgressBar_indeterminateSkin.png");
	trackSkin: Embed(source="assets/ProgressBar_trackSkin.png");
}
RadioButton
{
	disabledIcon: Embed(source="assets/RadioButton_disabledIcon.png");
	downIcon: Embed(source="assets/RadioButton_downIcon.png");
	overIcon: Embed(source="assets/RadioButton_overIcon.png");
	selectedDisabledIcon: Embed(source="assets/RadioButton_selectedDisabledIcon.png");
	selectedDownIcon: Embed(source="assets/RadioButton_selectedDownIcon.png");
	selectedOverIcon: Embed(source="assets/RadioButton_selectedOverIcon.png");
	selectedUpIcon: Embed(source="assets/RadioButton_selectedUpIcon.png");
	upIcon: Embed(source="assets/RadioButton_upIcon.png");
}
Slider
{
	thumbDisabledSkin: Embed(source="assets/Slider_thumbDisabledSkin.png");
	thumbDownSkin: Embed(source="assets/Slider_thumbDownSkin.png");
	thumbOverSkin: Embed(source="assets/Slider_thumbOverSkin.png");
	thumbUpSkin: Embed(source="assets/Slider_thumbUpSkin.png");
	trackHighlightSkin: Embed(source="assets/Slider_trackHighlightSkin.png");
	trackSkin: Embed(source="assets/Slider_trackSkin.png");
}
SWFLoader
{
	brokenImageSkin: Embed(source="assets/SWFLoader_brokenImageSkin.png");
}
TabBar
{
	tabStyleName: "tabBarTab";
	firstTabStyleName: "tabBarTab";
	lastTabStyleName: "tabBarTab";
}
.tabBarTab
{
	disabledSkin: Embed(source="assets/TabBar-tab_disabledSkin.png");
	downSkin: Embed(source="assets/TabBar-tab_downSkin.png");
	overSkin: Embed(source="assets/TabBar-tab_overSkin.png");
	selectedDisabledSkin: Embed(source="assets/TabBar-tab_selectedDisabledSkin.png");
	selectedUpSkin: Embed(source="assets/TabBar-tab_selectedUpSkin.png");
	selectedOverSkin: Embed(source="assets/TabBar-tab_selectedUpSkin.png");
	selectedDownSkin: Embed(source="assets/TabBar-tab_selectedUpSkin.png");
	upSkin: Embed(source="assets/TabBar-tab_upSkin.png");
}
TextArea
{
	borderSkin: Embed(source="assets/TextArea_borderSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="153",scaleGridBottom="80");
}
TextInput
{
	borderSkin: Embed(source="assets/TextInput_borderSkin.png",scaleGridLeft="1",scaleGridTop="1",scaleGridRight="153",scaleGridBottom="17");
}
ToolTip
{
	borderSkin: Embed(source="assets/ToolTip_borderSkin.png",scaleGridLeft="3",scaleGridTop="2",scaleGridRight="83",scaleGridBottom="22");
}
Tree
{
	borderSkin: Embed(source="assets/Tree_borderSkin.png");
	defaultLeafIcon: Embed(source="assets/Tree_defaultLeafIcon.png");
	disclosureClosedIcon: Embed(source="assets/Tree_disclosureClosedIcon.png");
	disclosureOpenIcon: Embed(source="assets/Tree_disclosureOpenIcon.png");
	folderClosedIcon: Embed(source="assets/Tree_folderClosedIcon.png");
	folderOpenIcon: Embed(source="assets/Tree_folderOpenIcon.png");
}
VScrollBar
{
	downArrowDisabledSkin: Embed(source="assets/VScrollBar_downArrowDisabledSkin.png");
	downArrowDownSkin: Embed(source="assets/VScrollBar_downArrowDownSkin.png");
	downArrowOverSkin: Embed(source="assets/VScrollBar_downArrowOverSkin.png");
	downArrowUpSkin: Embed(source="assets/VScrollBar_downArrowUpSkin.png");
	thumbDownSkin: Embed(source="assets/VScrollBar_thumbDownSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="50");
	thumbIcon: Embed(source="assets/VScrollBar_thumbIcon.png");
	thumbOverSkin: Embed(source="assets/VScrollBar_thumbOverSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="50");
	thumbUpSkin: Embed(source="assets/VScrollBar_thumbUpSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="50");
	trackDisabledSkin: Embed(source="assets/VScrollBar_trackDisabledSkin.png");
	trackSkin: Embed(source="assets/VScrollBar_trackSkin.png",scaleGridTop="2",scaleGridLeft="2",scaleGridRight="11",scaleGridBottom="146");
	upArrowDisabledSkin: Embed(source="assets/VScrollBar_upArrowDisabledSkin.png");
	upArrowDownSkin: Embed(source="assets/VScrollBar_upArrowDownSkin.png");
	upArrowOverSkin: Embed(source="assets/VScrollBar_upArrowOverSkin.png");
	upArrowUpSkin: Embed(source="assets/VScrollBar_upArrowUpSkin.png");
}